#! /bin/bash

set -e


terminate()
{
  /var/lib/irods/iRODS/irodsctl stop
  exit "$?"
}


until exec 3<> /dev/tcp/"$IRODS_IES"/"$IRODS_ZONE_PORT"
do
  printf 'Waiting for IES\n'
  sleep 1
done 2> /dev/null

exec 3<&-
exec 3>&-

printf 'Authenticating clerver user\n'
IRODS_HOST="$IRODS_IES" iinit "$IRODS_ZONE_PASSWORD"

if ! /var/lib/irods/iRODS/irodsctl start
then
  cat /var/lib/irods/iRODS/server/log/rodsLog* >&2
  exit 1
fi

trap 'kill ${!}; terminate' SIGTERM

printf 'done\n'

while true
do
  tail --follow /dev/null &
  wait ${!}
done
