[defaults]
library = irods/library
allow_world_readable_tmpfiles = true

[ssh_connection]
ssh_args = -o PreferredAuthentications=publickey,keyboard-interactive -o ControlMaster=auto -o ControlPersist=300s -o KbdInteractiveAuthentication=yes