#! /bin/bash
#
# Usage:
#  service (start|stop)
#
# This script starts or stops the IES server inside the container.
#
# It requires the following environment variables to be defined.
#
# DBMS_HOST            The FQDN or IP address of the PostgreSQL server
# DBMS_PORT            The TCP port the PostgreSQL will listen on.
# IRODS_SYSTEM_USER    The system user who executes iRODS
# IRODS_ZONE_PASSWORD  The password used to authenticate the clerver user


main()
{
  if [ "$#" -lt 1 ]
  then
    printf 'Requires either "start" or "stop" as its first parameter\n' >&2
    return 1
  fi

  local action="$1"

  case "$action" in
    start)
      start
      ;;
    stop)
      stop
      ;;
    *)
      printf 'Unknown command "%s"\n' "$action" >&2
      return 1
      ;;
  esac
}


start()
{
  until exec 3<> /dev/tcp/"$DBMS_HOST"/"$DBMS_PORT"
  do
    printf 'Waiting for DBMS\n'
    sleep 1
  done 2> /dev/null

  exec 3<&-
  exec 3>&-

  if ! su --command '/var/lib/irods/iRODS/irodsctl start' --login "$IRODS_SYSTEM_USER"
  then
    cat /var/lib/irods/iRODS/server/log/rodsLog* >&2
    return 1
  fi

  touch /var/lock/subsys/irods

  printf 'Authenticating clerver user\n'
  su --command "iinit '$IRODS_ZONE_PASSWORD'" --login "$IRODS_SYSTEM_USER"
}


stop()
{
  su --command '/var/lib/irods/iRODS/irodsctl stop' --login "$IRODS_SYSTEM_USER"
  rm /var/lock/subsys/irods
}


set -e

main "$@"
