#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

listen_addresses = '{{ ([ 'localhost' ] + pg_extra_listen_addresses) | join(",") }}'
port = {{ pg_listen_port }}
max_connections = {{ pg_max_connections }}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -

shared_buffers = {{ pg_shared_buffers }}
huge_pages = {{ pg_huge_pages }}
work_mem = {{ pg_work_mem }}
maintenance_work_mem = {{ pg_maintenance_work_mem }}

# - Asynchronous Behavior -
{% set mpw = [ pg_max_parallel_workers, pg_max_worker_processes ] | min %}

effective_io_concurrency = {{ pg_effective_io_concurrency }}
max_worker_processes = {{ pg_max_worker_processes }}
max_parallel_maintenance_workers = {{ [ pg_max_parallel_maintenance_workers, mpw ] | min }}
max_parallel_workers_per_gather = {{ [ pg_max_parallel_workers_per_gather, mpw ] | min }}
max_parallel_workers = {{ mpw }}

#------------------------------------------------------------------------------
# WRITE-AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -

wal_buffers = {{ pg_wal_buffers }}

# - Checkpoints -

checkpoint_timeout = {{ pg_checkpoint_timeout }}
max_wal_size = {{ pg_max_wal_size }}
min_wal_size = {{ pg_min_wal_size }}
checkpoint_completion_target = {{ pg_checkpoint_completion_target }}

#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

# - Sending Servers -

{% if pg_downstream_nodes|length > 0 %}
max_wal_senders = {{ pg_max_wal_senders }}
wal_keep_segments = {{ pg_wal_keep_segments }}
{% endif %}

# - Standby Servers -

{% if pg_upstream_node %}
hot_standby = on
hot_standby_feedback = {{ pg_hot_standby_feedback }}
{% endif %}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

# - Planner Cost Constants -

random_page_cost = {{ pg_random_page_cost }}
effective_cache_size = {{ pg_effective_cache_size }}

#- Other Planner Options -

default_statistics_target = {{ pg_default_statistics_target }}

#------------------------------------------------------------------------------
# REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - When to Log -

log_min_duration_statement = {{ pg_log_min_duration_statement }}

# - What to Log -

log_line_prefix = '{{ pg_log_line_prefix }}'

#------------------------------------------------------------------------------
# VERSION AND PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------

# - Previous PostgreSQL Versions -

standard_conforming_strings = {{ pg_standard_conforming_strings }}
