#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

listen_addresses = '{{ ([ 'localhost' ] + postgres12_extra_listen_addresses) | join(",") }}'
port = {{ postgres12_listen_port }}
max_connections = {{ postgres12_max_connections }}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -

shared_buffers = {{ postgres12_shared_buffers }}
huge_pages = {{ postgres12_huge_pages }}
work_mem = {{ postgres12_work_mem }}
maintenance_work_mem = {{ postgres12_maintenance_work_mem }}

# - Asynchronous Behavior -
{% set mpw = [ postgres12_max_parallel_workers, postgres12_max_worker_processes ] | min %}

effective_io_concurrency = {{ postgres12_effective_io_concurrency }}
max_worker_processes = {{ postgres12_max_worker_processes }}
max_parallel_maintenance_workers = {{ [ postgres12_max_parallel_maintenance_workers, mpw ] | min }}
max_parallel_workers_per_gather = {{ [ postgres12_max_parallel_workers_per_gather, mpw ] | min }}
max_parallel_workers = {{ mpw }}

#------------------------------------------------------------------------------
# WRITE-AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -

wal_buffers = {{ postgres12_wal_buffers }}

# - Checkpoints -

checkpoint_timeout = {{ postgres12_checkpoint_timeout }}
max_wal_size = {{ postgres12_max_wal_size }}
min_wal_size = {{ postgres12_min_wal_size }}
checkpoint_completion_target = {{ postgres12_checkpoint_completion_target }}

#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

# - Sending Servers -

{% if postgres12_downstream_nodes|length > 0 %}
max_wal_senders = {{ postgres12_max_wal_senders }}
wal_keep_segments = {{ postgres12_wal_keep_segments }}
{% endif %}

# - Standby Servers -

{% if postgres12_upstream_node %}
hot_standby = on
hot_standby_feedback = {{ postgres12_hot_standby_feedback }}
{% endif %}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

# - Planner Cost Constants -

random_page_cost = {{ postgres12_random_page_cost }}
effective_cache_size = {{ postgres12_effective_cache_size }}

#- Other Planner Options -

default_statistics_target = {{ postgres12_default_statistics_target }}

#------------------------------------------------------------------------------
# REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - When to Log -

log_min_duration_statement = {{ postgres12_log_min_duration_statement }}

# - What to Log -

log_line_prefix = '{{ postgres12_log_line_prefix }}'

#------------------------------------------------------------------------------
# VERSION AND PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------

# - Previous PostgreSQL Versions -

standard_conforming_strings = {{ postgres12_standard_conforming_strings }}
