# Environment specific aegis rule customizations belong in this file.

aegis_BASE_COLL : path
aegis_BASE_COLL = '/' ++ ipc_ZONE ++ '/home/shared/aegis'

aegis_INGEST_RESC : string
aegis_INGEST_RESC = '{{ _cfg_aegis_resource_name }}'

aegis_REPL_RESC : string
aegis_REPL_RESC = '{{ _cfg_aegis_repl_resource_name }}'
