#! /bin/bash

set -e

until exec 3<> /dev/tcp/"$DBMS_HOST"/"$DBMS_PORT"
do
  printf 'Waiting for DBMS\n'
  sleep 1
done 2> /dev/null

exec 3<&-
exec 3>&-

printf 'Starting iRODS\n'

if ! err=$(/var/lib/irods/iRODS/irodsctl start 2>&1)
then
  printf '%s\n' "$err" >&2
  exit 1
fi

printf 'Authenticating clerver user\n'

if ! err=$(iinit "$IRODS_ZONE_PASSWORD" 2>&1)
then
  printf '%s\n' "$err" >&2
  exit 1
fi

printf 'done\n'
exec bash
