---
proxy_rsyslog_conf: /etc/rsyslog.d/haproxy.conf

proxy_stats_auth: null
proxy_stats_tls_crt: null
proxy_stats_tls_crt_content: null

proxy_irods_direct_max_conn: 200
proxy_irods_reconn_ports: 20000-20399
proxy_irods_vip_client_hosts: []

proxy_sftp_port: 22
proxy_sftp_backend_port: 2022