---
_domain_name: "{{ domain_name | mandatory }}"

_maintainer_keys: "{{ maintainer_keys | default([]) }}"

_nic_mtu: "{{ nic_mtu | default(1500) }}"
_nic_txqueuelen: "{{ nic_txqueuelen | default(1000) }}"

_package_manager: "{{ package_manager | default('auto') }}"

_rebootable: "{{ rebootable | default(true) }}"

_sysctl_net: "{{ sysctl_net | default([]) }}"

_update_e2fsprogs: "{{ update_e2fsprogs | default (true) }}"
