---
- name: Install | determine os
  when: ansible_distribution is not defined
  ansible.builtin.setup:
    gather_subset: pkg_mgr
    filter: ansible_pkg_mgr

- name: Install | update apt cache
  when: ansible_pkg_mgr == 'apt'
  ansible.builtin.apt:
    update_cache: true

- name: Install | install packages
  ansible.builtin.package:
    name:
      - haproxy
      - socat
    state: present

- name: Install | ensure haproxy starts on reboot
  ansible.builtin.service:
    name: haproxy
    enabled: true
  tags:
    - no_testing

- name: Install | ensure nonlocal binding allowed
  ansible.posix.sysctl:
    name: net.ipv4.ip_nonlocal_bind
    value: '1'
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/haproxy.conf
    reload: true
    state: present
  notify:
    - Restart haproxy
  tags:
    - no_testing

- name: Install | ensure IP forwarding allowed
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/haproxy.conf
    reload: true
    state: present
  tags:
    - no_testing
