<!DOCTYPE html>
<html>
  <head>
    <title>Index of /{{ _irods_zone_name }} on {{ _irods_zone_name }}</title>
    <base href="/{{ svc }}/{{ _irods_zone_name }}/"/>
    <meta charset="utf-8"/>
  </head>

  <body>
    <h1>
      Index of
      <span class="relative-uri"><a href="/{{ svc }}/">/</a><a href="/{{ svc }}/{{ _irods_zone_name }}/">{{ _irods_zone_name }}/</a></span>
      on <span class="zone-name">{{ _irods_zone_name }}</span>
    </h1>

    <p><a class="parent-link" href="..">Parent collection</a></p>

    <table>
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="size">Size</th>
          <th class="owner">Owner</th>
          <th class="date">Last modified</th>
        </tr>
      </thead>

      <tbody>
        <tr class="object collection">
          <td class="name"><a href="commons/">commons/</a></td>
          <td class="size"></td>
          <td class="owner">ipc_admin</td>
          <td class="date">2016-05-16 20:35</td>
        </tr>
{% if svc != "dav-anon" %}

        <tr class="object collection">
          <td class="name"><a href="home/">home/</a></td>
          <td class="size"></td>
          <td class="owner">ipc_admin</td>
          <td class="date">2016-08-25 17:50</td>
        </tr>
{% endif %}

        <tr class="object collection">
          <td class="name"><a href="projects/">projects/</a></td>
          <td class="size"></td>
          <td class="owner">ipc_admin</td>
          <td class="date">2013-03-14 08:49</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
