# Environment specific Avra rule customizations belong in this file.
#
# © 2024 The Arizona Board of Regents on behalf of The University of Arizona.
# For license information, see https://cyverse.org/license.

# the root collection used by AVRA
avra_BASE_COLL : path
avra_BASE_COLL = '{{ _avra_base_collection }}'

# the root resource used by AVRA
avra_RESC : string
avra_RESC = '{{ _avra_resource_hierarchy.name }}'
