# Environment specific Avra rule customizations belong in this file.

avra_BASE_COLL : path
avra_BASE_COLL = '{{ _avra_base_collection }}'

avra_RESC : string
avra_RESC = '{{ _avra_resource_hierarchy.name }}'
