# These are the environment-specific BisQue rules.
#
# © 2024 The Arizona Board of Regents on behalf of The University of Arizona.
# For license information, see https://cyverse.org/license.

# the iRODS URL used by BisQue to reference the Data Store
bisque_IRODS_URL_BASE : string
bisque_IRODS_URL_BASE = 'irods://{{ _bisque_irods_host }}'

# the list of project folders relative to /ZONE/home/shared/  whose data is
# automatically published through BisQue
bisque_PROJECTS : list string
bisque_PROJECTS = list({{ _bisque_projects | map('to_json') | join(', ') }})
