# This rulebase contains the environment-specific constants for the core CyVerse
# Data Store policies.

# the name of the AMQP exchange where iRODS should publish messages
ipc_AMQP_EXCHANGE: string
ipc_AMQP_EXCHANGE = '{{ _amqp_exchange }}'

# the name of the resource to use for replication by default
ipc_DEFAULT_REPL_RESC: string
ipc_DEFAULT_REPL_RESC = '{{ _irods_default_repl_resource }}'

# the name of the resource to use by default
ipc_DEFAULT_RESC: string
ipc_DEFAULT_RESC = '{{ _irods_default_resource }}'

# the precomputed IP address of the catalog service provider
ipc_IES_IP: string
ipc_IES_IP = '{{ _irods_ies if _irods_ies|ipaddr else lookup("dig", _irods_ies) }}'

# the maximum number of concurrent rule engine workers
ipc_MAX_NUM_RE_PROCS: integer
ipc_MAX_NUM_RE_PROCS = {{ _irods_max_num_re_procs }}

# the rule engine host
ipc_RE_HOST: string
ipc_RE_HOST = '{{ _irods_ies }}'

ipc_REPORT_EMAIL_ADDR: string
ipc_REPORT_EMAIL_ADDR = '{{ _report_email_addr }}'

ipc_ZONE: string
ipc_ZONE = '{{ _irods_zone_name }}'


{% if _single_threaded_resources|length > 0 %}
# This rule ensures that the catalog service provider will only use streaming
# transfers for data object replicas on certain servers.
#
# Session Variables: rescName, clientAddr
#
acSetNumThreads {
{%   for resc in _single_threaded_resources %}
  on ($rescName == '{{ resc }}' && $clientAddr == ipc_IES_IP) {
    msiSetNumThreads('default', '0', 'default');
  }
{%   endfor %}
}
{% endif %}
