# Environment specific PIRE rule customizations belong in this file.

pire_PROJECT_BASE_COLL : path
pire_PROJECT_BASE_COLL = '/' ++ ipc_ZONE ++ '/home/shared/bhpire'

pire_PUBLIC_BASE_COLL : path
pire_PUBLIC_BASE_COLL = '/' ++ ipc_ZONE ++ '/home/shared/eht'

pire_RESC : string
pire_RESC = '{{ _pire_resource_hierarchy.name }}'
