# These are the configuration values for the SPARC'd project rules.

sparcd_ADMIN : string
sparcd_ADMIN = '{{ _sparcd_admin }}'

sparcd_BASE_COLL : path
sparcd_BASE_COLL = '{{ _sparcd_base_collection }}'

sparcd_REPORT_EMAIL_ADDR : string
sparcd_REPORT_EMAIL_ADDR = '{{ _sparcd_report_email_addr }}'

sparcd_WEBDAV_HOST : string
sparcd_WEBDAV_HOST = '{{ _canonical_hostname }}'
