# Environment specific TerraREF rule customizations belong in this file.

terraref_BASE_COLL : path
terraref_BASE_COLL = '{{ _terraref_base_collection }}'

terraref_RESC : string
terraref_RESC = '{{ _terraref_resource_hierarchy.name }}'
