# Environment specific aegis rule customizations belong in this file.

aegis_BASE_COLL : path
aegis_BASE_COLL = /iplant/home/shared/aegis

aegis_INGEST_RESC : string
aegis_INGEST_RESC = '{{ irods_aegis_resource_name }}'

aegis_REPL_RESC : string
aegis_REPL_RESC = '{{ irods_aegis_repl_resource_name }}'
