# The virtual hosts for the Data Store WebDAV server

LoadModule log_forensic_module_modules/mod_log_forensic.so
LoadModule unique_id_module modules/mod_unique_id.so

CacheRoot {{ _webdav_cache_dir }}
CacheDirLevels 2
CacheDirLength 1
CacheMaxFileSize {{ _webdav_cache_max_file_size }}

<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
  ServerName {{ inventory_hostname }}

  Redirect permanent / https://{{ inventory_hostname }}/
</VirtualHost>

{# Set up SSL VirtualHosts #}
{% for vhost in apache_vhosts_ssl %}
{% if apache_ignore_missing_ssl_certificate or apache_ssl_certificates.results[loop.index0].stat.exists %}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port_ssl }}>
  ServerName {{ vhost.servername }}

  SSLEngine on
  SSLCipherSuite {{ apache_ssl_cipher_suite }}
  SSLProtocol {{ apache_ssl_protocol }}
  SSLHonorCipherOrder On
{% if apache_vhosts_version == "2.4" %}
  SSLCompression off
{% endif %}
  SSLCertificateFile {{ vhost.certificate_file }}
  SSLCertificateKeyFile {{ vhost.certificate_key_file }}
{% if vhost.certificate_chain_file is defined %}
  SSLCertificateChainFile {{ vhost.certificate_chain_file }}
{% endif %}

  BrowserMatch "MSIE [2-5]" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

  CustomLog "logs/request_log" "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %D %L %{forensic-id}n"
  ForensicLog "logs/forensic_log"

  CacheQuickHandler off
  CacheLock on
  CacheLockPath /tmp/mod_cache-lock
  CacheLockMaxAge 5
  CacheIgnoreHeaders Set-Cookie

  <If "%{HTTP:Range} == 'bytes=0-'">
    # Remove the range header if requesting the whole file so that the response
    # will be cached.
    RequestHeader unset Range
  </If>
  <Elseif "-n %{HTTP:Range}">
    # To prevent davrods from crashing, tell it not cache partial responses
    RequestHeader merge Cache-Control no-store
  </Elseif>

{% for location in vhost.locations %}
  <Location /dav/{{ _irods_zone_name }}/{{ location.dav_zone_location }} >
{% if location.location_redirect is defined %}
    Redirect \
      /dav/{{ _irods_zone_name }}/{{ location.dav_zone_location }}/{{ location.location_redirect.from }} \
      /dav/{{ _irods_zone_name }}/{{ location.location_redirect.to }}

{% endif %}
    CacheEnable disk
    CacheHeader on
    CacheDefaultExpire {{ location.server_cache_default_expire }}
    CacheMaxExpire {{ location.server_cache_max_expire }}
    CacheLastModifiedFactor 0.5

    ExpiresActive on
    ExpiresDefault "access plus {{ location.client_cache_expire }} seconds"

    Header merge Cache-Control public

    DirectoryIndex disabled

{% if location.authenticated %}
    AuthType Basic
    AuthName CyVerse
    AuthBasicProvider irods
    
    Requre valid-user

    Dav davrods-locallock
    DavDepthInfinity on
{% else %}
    AuthType None

    Require all granted

    Dav davrods-nolocks
{% endif %}

    DavRodsEnvFile /etc/httpd/irods/irods_environment.json
    DavRodsServer {{ _canonical_hostname }} 1247
    DavRodsZone {{ _irods_zone_name }}
    DavRodsAnonymousMode On
    DavRodsAnonymousLogin "anonymous" ""
    DavRodsExposedRoot /{{ _irods_zone_name }}/{{ location.irods_zone_root }}
    DavRodsRxBufferKbs 32768
    DavRodsHtmlHead /etc/httpd/irods/{{ location.davrods_html_head }}
  </Location>

{% endfor %}
</VirtualHost>

{% endif %}
{% endfor %}
