SFTPGO_DEFAULT_ADMIN_USERNAME={{ _sftp_admin_username }}
SFTPGO_DEFAULT_ADMIN_PASSWORD={{ _sftp_admin_password }}

SFTPGO_HOME_PATH={{ _sftp_vault_dir }}/data
SFTPGO_LOG_FILE_PATH=/var/log/sftpgo/sftpgo.log
SFTPGO_LOG_MAX_SIZE=100

TZ="America/Phoenix"
