SFTPGO_DEFAULT_ADMIN_USERNAME={{ _sftpgo_admin_username }}
SFTPGO_DEFAULT_ADMIN_PASSWORD={{ _sftpgo_admin_password }}

SFTPGO_HOME_PATH={{ _sftpgo_vault_dir }}/data
SFTPGO_LOG_FILE_PATH=/var/log/sftpgo/sftpgo.log
SFTPGO_LOG_MAX_SIZE=100

TZ="America/Phoenix"
