<!DOCTYPE html>
<html>
  <head>
    <title>WebDAV Service Landing Page</title>
    <base href="/dav/"/>
    <meta charset="utf-8"/>
  </head>

  <body>
    <h1>CyVerse Data Store WebDAV Access</h1>

    <p>The CyVerse Data Store has four WebDAV services.</p>

    <ul>
      <li>
        <a href="{{ _irods_zone_name }}/commons/community_released/">
          Community released data access
        </a>
        provides read-only access to public data hosted at CyVerse but curated by community
        members.
      </li>
      <li>
        <a href="{{ _irods_zone_name }}/commons/cyverse_curated/">CyVerse curated data access</a>
        provides read-only access to public data hosted at CyVerse and curated here.
      </li>
      <li>
        <a href="{{ _irods_zone_name }}/projects/">Project data access</a> provides access to
        project data hosted at CyVerse. If a request is authenticated, the autheticated user's
        permissions will determine what data can be read or modified.
      </li>
      <li>
        <a href="{{ _irods_zone_name }}/home/">User data access</a> provides access to user data
        hosted at CyVerse. If a request is authenticated, the authenticated user's permissions will
        determine what data can be read or modified.
      </li>
    </ul>
  </body>
</html>
