---
# Stops iRODS. The variable stop_irods_result holds the change value
- name: check if svc acnt exists
  shell: |
    if id --user {{ _irods_service_account_name }} > /dev/null 2>&1; then
      printf exists
    else
      printf missing
    fi
  register: id_result
  changed_when: false

- name: stop server
  become: "{{ _become_svc_acnt }}"
  become_user: "{{ _irods_service_account_name }}"
  irods_ctl:
    state: stopped
  register: stop_irods_result
  when: id_result.stdout == 'exists'
