#! /bin/bash
#
# Usage:
#  service (start|stop)
#
# This script starts or stops the resource server inside the container.


main()
{
  if [ "$#" -lt 1 ]
  then
    printf 'Requires either "start" or "stop" as its first parameter\n' >&2
    return 1
  fi

  local action="$1"

  case "$action" in
    start)
      start
      ;;
    stop)
      stop
      ;;
    *)
      printf 'Unknown command "%s"\n' "$action" >&2
      return 1
      ;;
  esac
}


start()
{
  # Ensure that the correct user owns everything in /var/lib/irods and /etc/irods
  # If this isn't done, some of the ansible ownership tests will fail.
  chown --recursive "$IRODS_SYSTEM_USER":"$IRODS_SYSTEM_GROUP" /etc/irods /var/lib/irods

  until exec 3<> /dev/tcp/"$IRODS_IES"/"$IRODS_ZONE_PORT"
  do
    printf 'Waiting for IES\n'
    sleep 1
  done 2> /dev/null

  exec 3<&-
  exec 3>&-

  printf 'Authenticating clerver user\n'
  su --command "IRODS_HOST='$IRODS_IES' iinit '$IRODS_ZONE_PASSWORD'" --login "$IRODS_SYSTEM_USER"

  if ! su --command '/var/lib/irods/iRODS/irodsctl start' --login "$IRODS_SYSTEM_USER"
  then
    cat /var/lib/irods/iRODS/server/log/rodsLog* >&2
    return 1
  fi
}


stop()
{
  su --command '/var/lib/irods/iRODS/irodsctl stop' --login "$IRODS_SYSTEM_USER"
}


set -e

main "$@"
