{# Generates a davrods configuration

   Parameters:
    exposedRoot  the place in iRODS to act as the root of the WebDAV repo
    htmlHead     the name of the HTML head file used in collection listings
    cacheExpire  the number of days to keep something cached on the server
    requires     (optional) a list of requirements that must be met to grant
                 access to the requested collection or data object. Each
                 requirement must be formatted in a way understandable by
                 Apache's Require directive.

   This macro requires the template's context.
 #}
{% macro davrods(exposedRoot, htmlHead, cacheExpire, requires=[]) -%}
DirectoryIndex disabled

{%   if requires | length == 0 %}
AuthType None

Require all granted

Dav davrods-nolocks

DavRodsAnonymousMode On
DavRodsAnonymousLogin "anonymous" ""
{%   else %}
AuthType Basic
AuthName {{ _webdav_auth_name }}
AuthBasicProvider irods

{%     if requires | length > 1 %}
<RequireAll>
{%       for require in requires %}
  Require {{ require }}
{%       endfor %}
</RequireAll>
{%     else %}
Require {{ requires[0] }}
{%     endif %}

Dav davrods-locallock
DavDepthInfinity on

{%   endif %}
DavRodsEnvFile /etc/httpd/irods/irods_environment.json
DavRodsServer {{ _irods_ies }} 1247
DavRodsZone {{ _irods_zone_name }}
DavRodsExposedRoot {{ exposedRoot }}
DavRodsRxBufferKbs 32768
DavRodsHtmlHead /etc/httpd/irods/{{ htmlHead }}

CacheDefaultExpire {{ cacheExpire * 86400 }}
CacheMaxExpire {{ cacheExpire * 86400 }}

ExpiresDefault "access plus {{ cacheExpire * 1440 }} minutes"
{%- endmacro %}
