---
version: "2.0"

services:
  amqp:
    image: test-env-base:centos7

  apache:
    build:
      context: .
      dockerfile: apache/Dockerfile

  dbms_configured:
    build:
      context: .
      dockerfile: postgresql/Dockerfile.configured
      args:
        IRODS_RESOURCES: "$IRODS_RES_CONF_NAME:$IRODS_CONSUMER_CONF_HOST:$IRODS_VAULT $IRODS_RES_UNCONF_NAME:$IRODS_CONSUMER_UNCONF_HOST:$IRODS_VAULT"
        IRODS_ZONE_NAME: "$IRODS_ZONE_NAME"
    tty: true

  dbms_unconfigured:
    build:
      context: .
      dockerfile: postgresql/Dockerfile.unconfigured
    tty: true

  provider_configured:
    build:
      context: .
      dockerfile: irods-provider/Dockerfile.configured
      args:
        DBMS_HOST: "$DBMS_HOST"
        IRODS_DEFAULT_RESOURCE: "$IRODS_DEFAULT_RESOURCE"
        IRODS_HOST: "$IRODS_PROVIDER_CONF_HOST"
        IRODS_LAST_EPHEMERAL_PORT: $IRODS_LAST_EPHEMERAL_PORT
        IRODS_SCHEMA_VALIDATION: "$IRODS_SCHEMA_VALIDATION"
        IRODS_SYSTEM_GROUP: "$IRODS_PROVIDER_SYSTEM_GROUP"
        IRODS_ZONE_NAME: "$IRODS_ZONE_NAME"
    hostname: "$IRODS_PROVIDER_CONF_HOST"
    tty: true
    depends_on:
      - amqp
      - dbms_configured

  provider_unconfigured:
    build:
      context: .
      dockerfile: irods-provider/Dockerfile.unconfigured
      args:
        DBMS_HOST: "$DBMS_HOST"
        IRODS_SYSTEM_GROUP: "$IRODS_PROVIDER_SYSTEM_GROUP"
    hostname: "$IRODS_PROVIDER_UNCONF_HOST"
    tty: true
    depends_on:
      - amqp
      - dbms_configured

  consumer_configured:
    build:
      context: .
      dockerfile: irods-consumer/Dockerfile.configured
      args:
        IRODS_CATALOG_PROVIDER: "$IRODS_PROVIDER_CONF_HOST"
        IRODS_DEFAULT_RESOURCE: "$IRODS_DEFAULT_RESOURCE"
        IRODS_DEFAULT_VAULT: "$IRODS_VAULT"
        IRODS_HOST: "$IRODS_CONSUMER_CONF_HOST"
        IRODS_LAST_EPHEMERAL_PORT: $IRODS_LAST_EPHEMERAL_PORT
        IRODS_SCHEMA_VALIDATION: "$IRODS_SCHEMA_VALIDATION"
        IRODS_ZONE_NAME: "$IRODS_ZONE_NAME"
    cap_add:
      - NET_ADMIN
    hostname: "$IRODS_CONSUMER_CONF_HOST"
    tty: true
    depends_on:
      - provider_configured

  consumer_unconfigured:
    build:
      context: .
      dockerfile: irods-consumer/Dockerfile.unconfigured
      args:
        IRODS_CATALOG_PROVIDER: "$IRODS_PROVIDER_CONF_HOST"
    hostname: "$IRODS_CONSUMER_UNCONF_HOST"
    tty: true
    depends_on:
      - provider_configured

  proxy:
    build:
      context: .
      dockerfile: haproxy/Dockerfile
    depends_on:
      - apache
      - provider_configured
