---
services:
  amqp:
    image: test-env-base:ubuntu2204
    privileged: true
    tty: true

  apache:
    build:
      context: .
      dockerfile: apache/Dockerfile
    privileged: true
    tty: true

  sftp:
    build:
      context: .
      dockerfile: sftp/Dockerfile
    privileged: true
    tty: true

  dbms_configured:
    build:
      context: .
      dockerfile: postgresql/Dockerfile.configured
      args:
        IRODS_RESOURCES: "$IRODS_RES_CONF_CENTOS_NAME:$IRODS_CONSUMER_CONF_CENTOS_HOST:$IRODS_VAULT $IRODS_RES_CONF_UBUNTU_NAME:$IRODS_CONSUMER_CONF_UBUNTU_HOST:$IRODS_VAULT"
        IRODS_ZONE_NAME: "$IRODS_ZONE_NAME"
        IRODS_ZONE_PASSWORD: "$IRODS_CLERVER_PASSWORD"
    privileged: true
    tty: true

  dbms_unconfigured:
    build:
      context: .
      dockerfile: postgresql/Dockerfile.unconfigured
    privileged: true
    tty: true

  provider_configured:
    build:
      context: .
      dockerfile: irods-provider/Dockerfile.configured
      args:
        DBMS_HOST: "$DBMS_HOST"
        IRODS_DEFAULT_RESOURCE: "$IRODS_DEFAULT_RESOURCE"
        IRODS_HOST: "$IRODS_PROVIDER_CONF_HOST"
        IRODS_LAST_EPHEMERAL_PORT: $IRODS_LAST_EPHEMERAL_PORT
        IRODS_SCHEMA_VALIDATION: "$IRODS_SCHEMA_VALIDATION"
        IRODS_SYSTEM_GROUP: "$IRODS_PROVIDER_SYSTEM_GROUP"
        IRODS_ZONE_NAME: "$IRODS_ZONE_NAME"
        IRODS_ZONE_PASSWORD: "$IRODS_CLERVER_PASSWORD"
    hostname: "$IRODS_PROVIDER_CONF_HOST"
    privileged: true
    tty: true
    depends_on:
      - dbms_configured

  provider_unconfigured:
    build:
      context: .
      dockerfile: irods-provider/Dockerfile.unconfigured
      args:
        DBMS_HOST: "$DBMS_HOST"
        IRODS_SYSTEM_GROUP: "$IRODS_PROVIDER_SYSTEM_GROUP"
    hostname: "$IRODS_PROVIDER_UNCONF_HOST"
    privileged: true
    tty: true

  consumer_configured_centos:
    build:
      context: .
      dockerfile: irods-consumer/Dockerfile.configured-centos
      args:
        IRODS_CATALOG_PROVIDER: "$IRODS_PROVIDER_CONF_HOST"
        IRODS_DEFAULT_RESOURCE: "$IRODS_RES_CONF_CENTOS_NAME"
        IRODS_DEFAULT_VAULT: "$IRODS_VAULT"
        IRODS_HOST: "$IRODS_CONSUMER_CONF_CENTOS_HOST"
        IRODS_LAST_EPHEMERAL_PORT: $IRODS_LAST_EPHEMERAL_PORT
        IRODS_SCHEMA_VALIDATION: "$IRODS_SCHEMA_VALIDATION"
        IRODS_ZONE_NAME: "$IRODS_ZONE_NAME"
        IRODS_ZONE_PASSWORD: "$IRODS_CLERVER_PASSWORD"
    hostname: "$IRODS_CONSUMER_CONF_CENTOS_HOST"
    privileged: true
    tty: true
    depends_on:
      - provider_configured

  consumer_configured_ubuntu:
    build:
      context: .
      dockerfile: irods-consumer/Dockerfile.configured-ubuntu
      args:
        IRODS_CATALOG_PROVIDER: "$IRODS_PROVIDER_CONF_HOST"
        IRODS_DEFAULT_RESOURCE: "$IRODS_RES_CONF_UBUNTU_NAME"
        IRODS_DEFAULT_VAULT: "$IRODS_VAULT"
        IRODS_HOST: "$IRODS_CONSUMER_CONF_UBUNTU_HOST"
        IRODS_LAST_EPHEMERAL_PORT: $IRODS_LAST_EPHEMERAL_PORT
        IRODS_SCHEMA_VALIDATION: "$IRODS_SCHEMA_VALIDATION"
        IRODS_ZONE_NAME: "$IRODS_ZONE_NAME"
        IRODS_ZONE_PASSWORD: "$IRODS_CLERVER_PASSWORD"
    hostname: "$IRODS_CONSUMER_CONF_UBUNTU_HOST"
    privileged: true
    tty: true
    depends_on:
      - provider_configured

  consumer_unconfigured:
    build:
      context: .
      dockerfile: irods-consumer/Dockerfile.unconfigured
      args:
        IRODS_CATALOG_PROVIDER: "$IRODS_PROVIDER_CONF_HOST"
    hostname: "${ENV_NAME}_consumer_configured_1.${DOMAIN}"
    privileged: true
    tty: true
